{{!< default}}
<main class="content" role="main">
  {{#post}}
    <article class="{{post_class}}">
      <header class="post-header">
        <span class="post-meta">
          By {{#if author.website}}<a href="{{author.website}}">{{/if}}<i>{{author}}</i>{{#if author.website}}</a>{{/if}} at <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>.
        </span>
        <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
      </header>
      <br>
      <section class="post-excerpt">
        <p>{{content}}</p>
        <p style="font-size:12px">{{tags prefix="Tags: "}}<p>
      </section>
    </article>
  {{/post}}
</main>
